.home {
  height: 100vh;
  background-image: url('../home.jpg'); /* Transparent background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Arial, sans-serif;
  color: #fafafa;
}

.home-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.home-content h1 {
  color: #f0a500;
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home-content p {
  color: #eeff02;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 30px;
}
